params.run_type='local'

docker.enabled = true
process {
  withName:mapping { 
      cpus=4
      container = 'mpgagebioinformatics/kallisto:0.48.0'
      containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
  }
  withName:flagstat { 
      cpus=1
      container =  'mpgagebioinformatics/samtools:1.16.1'
      containerOptions = "-v ${params.project_folder}:/workdir"
  }
}