singularity.enabled = true
process {
    withName:mapping {
        executor='slurm'
        queue="${params.queue}"
        cpus=16
        mem='40 GB'
        time='6h'
        jobName={ "$task.name" }
        container = "${params.image_folder}kallisto-0.48.0.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B ${params.kallisto_raw_data}:/raw_data"
    }
    withName:flagstat {
        executor='slurm'
        queue="${params.queue}"
        cpus=4
        mem='20 GB'
        time='2h'
        jobName={ "$task.name" }
        container = "${params.image_folder}samtools-1.16.1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir"
    }
}

