params.run_type='local'

docker.enabled = true
process {
    withName:get_genome {
        cpus=2
        container = 'mpgagebioinformatics/cufflinks:2.2.1'
        containerOptions = "-v ${params.genomes}:/genomes"
    }

    withName:writecdna {
        cpus=2
        container = 'mpgagebioinformatics/cufflinks:2.2.1'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.genomes}:/genomes"
    }

    withName:index {
        cpus=2
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}kallisto_index:/workdir"
    }

    withName:unstranded_mapping { 
        cpus=4
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }

    withName:kallisto {
        cpus=2
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }
}

