params.run_type='local'

docker.enabled = true
process {
    withName:genome_collector {
        cpus=2
        container = 'mpgagebioinformatics/samtools:1.16.1'
        containerOptions = "-v ${params.genomes}:/genomes"
    }
    withName:get_erccs {
        cpus=1
        container = 'mpgagebioinformatics/samtools:1.16.1'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.genomes}:/genomes"
    }
    withName:writecdna {
        cpus=1
        container = 'mpgagebioinformatics/cufflinks:2.2.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:index {
        cpus=2
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}kallisto_index:/workdir"
    }
    withName:unstranded_mapping { 
        cpus=4
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }
    withName:gene_model { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:infer_experiment { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:strand_checker { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:mapping { 
      cpus=4
      container = 'mpgagebioinformatics/kallisto:0.48.0'
      containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }
    withName:flagstat { 
        cpus=1
        container =  'mpgagebioinformatics/samtools:1.16.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
}