params.run_type='local'

docker.enabled = true
process {
    withName:get_genome {
        cpus=2
        container = 'mpgagebioinformatics/cufflinks:2.2.1'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.genomes}:/genomes"
    }

    withName:index {
        cpus=2
        container = 'mpgagebioinformatics/kallisto:0.11.9'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }

    withName:kallisto {
        cpus=2
        container = 'mpgagebioinformatics/kallisto:0.11.9'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }
}

