params.project_folder='/Users/jboucas/nf-kallisto-deseq2-test/'
params.kallisto_raw_data='/Users/jboucas/Desktop/test_ftp/'
params.genomes='/Users/jboucas/Desktop/genomes/'
params.organism='caenorhabditis_elegans' // curl -#l ftp://ftp.ensembl.org/pub/current_fasta/
params.release='107'
params.url_gtf="ftp://ftp.ensembl.org/pub/release-${params.release}/gtf/${params.organism}/"
params.url_dna="ftp://ftp.ensembl.org/pub/release-${params.release}/fasta/${params.organism}/dna/"


URL_GFF3="ftp://ftp.ensembl.org/pub/release-$RELEASE/gff3/$ORGANISM/"
URL_DNA="ftp://ftp.ensembl.org/pub/release-$RELEASE/fasta/$ORGANISM/dna/"

includeConfig 'local.config'