params.run_type='local'

docker.enabled = true
process {
    withName:get_erccs {
        cpus=1
        container = 'mpgagebioinformatics/samtools:1.16.1'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.genomes}:/genomes"
    }
    withName:writecdna {
        cpus=1
        container = 'mpgagebioinformatics/cufflinks:2.2.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
}

