singularity.enabled = true
process {
    withName:writecdna {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        mem='20 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}cufflinks-2.2.1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B ${params.genomes}:/genomes"
    }
}

