singularity.enabled = true
process {
    withName:index {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        mem='20 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}kallisto-0.48.0.sif"
        containerOptions = "-B ${params.project_folder}kallisto_index:/workdir"
    }
}

