params.run_type='local'

docker.enabled = true
process {
    withName:unstranded_mapping { 
        cpus=4
        container = 'mpgagebioinformatics/kallisto:0.48.0'
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
    }
    withName:gene_model { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:infer_experiment { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:check_strand { 
        cpus=1
        container = 'mpgagebioinformatics/rseqc:5.0.1'
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
}