singularity.enabled = true
process {
    withName:get_genome {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        mem='20 GB'
        time='4h'
        jobName={ "$task.name" }
        container = "${params.image_folder}samtools-1.16.1.sif"
        containerOptions = "-B ${params.genomes}:/genomes"
    }
}

